@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  /*margin-top: 30px;*/
  padding: 1.5rem;
  text-align: center;
  font-size: large;
}

@layer base {
  dialog {
    margin: auto;
  }
}

@theme {
  --font-poppins: Poppins, sans-serif;
}

@theme {
     --font-weight-thick: bold;
   }

@theme {
  --aspect-retro: 1 / 2;
}

